:root {
  --font-family: "Mukta", "Lato", "Helvetica Neue", sans-serif;
  --font-family: Mukta;
  --heading-font-family: "Heebo", sans-serif;
  --quote-font-family: "Noto Serif", "Bitter", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
}

* {
  font-family: "Roboto", sans-serif;
}

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.has-dropcap:first-letter {
  float: left;
  font-size: 4rem;
  line-height: 0.81;
  font-weight: 700;
  padding-top: 0.2px;
  margin: 0.1em 0.1em 0.2em 0;
}

.dropcap {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  background: #303030;
  color: #fdf9f2;
  float: left;
  font-size: 4rem;
  line-height: 1;
  margin: 0.1em 0.1em 0.2em 0;
  padding: 0.1em;
}
.dropcap:before,
.dropcap:after {
  content: "";
  display: block;
}
.dropcap:before {
  margin-top: -0.2em;
}
.dropcap:after {
  margin-bottom: -0.15em;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: small;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #eeee;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}
